@import '../../global/variable';

// Adjust images path 1 more deeper
$sprite:							'../../../../../../sites/all/modules/custom/eiger/assets/images/eiger_sprite.png';
$sprite_site:						'../../images/site_sprite.png';
$sprite_matterhorn:					'../../images/matterhorn/sprite_matterhorn_en.png';
$sprite_maintenance_restriction:	'../../../../../../sites/all/modules/custom/eiger/assets/images/restricted_maintenance.png';