/*	Galaxy V Specific Style
	======================================================================================== */

.safari4 {

	// Checkbox
	.ez-checkbox {
		.ez-hide {
			margin-right: 8px;
			margin-bottom: 8px
		}
	}
	.view-desktop:before,
	.live-chat:before {
		margin-top: 0;
	}
}